div{
	border: solid 15px blue;
	background-color: white;
	
}
/* .1stdiv{
	marging: 20px; 
}
.2nddiv{
	border: 15px solid blue;
} */
/* .3rddiv{
	padding: 50px;
	color: lightblue;
}
.4thdiv{
	width: 300px;
}
/* Your CSS Code here. */ */